res/js/core
res/js/vendor/nodejs/bundle*
res/js/vendor/nodejs/boot.prod.js
res/js/pydio.min.js
/res/js/pydio.boot.min.js
res/js/ui/reactjs/build/
/res/mui/less/
/res/themes/*/css/allz.css
res/mui/mfb.less
