.sort-table {
	font-family:Trebuchet MS, sans-serif;
	font-size: 11px;
	/*border:		1px Solid ThreeDShadow;*/
	background:	Window;
	color:		WindowText;
}

.sort-table thead {
	background-color:	#aaa;
}

.sort-table td {
	padding:	2px 5px;
}

.sort-table thead td {
    background-color: #ddd;
	border-bottom:	none;
	cursor:			pointer;
	border-right: 	1px solid buttonhighlight;
	font-size:12px;
	color: #676965;
	padding: 0px;
	padding-left: 7px;
	padding-top: 2px;
	height:24px;
	background-color: #f1f1ef;
	border-bottom : 1px solid #676965;
}

#last_header{
   border-right: 	0px solid #ddd;
}

#last_header:active{
}

.sort-table thead td:active {
	background-color: #c4c7c1;
}

.sort-table thead td.desc
{
	background-color: #daddd7;
}

.sort-table thead td.asc
{
	background-color: #daddd7;
}
.sort-arrow {
	display:block;
	width:16px;
	height:16px;	
}

.sort-arrow.descending {
	background-image:		url("../images/crystal/raise.png");
	background-repeat : no-repeat;
	background-position : right center;
}

.sort-arrow.ascending {
	background-image:		url("../images/crystal/lower.png");
	background-repeat : no-repeat;
	background-position : right center;
}

div.tipsandtricks
{
   color: buttonShadow;
   font-family: Arial;
   font-size: 11px;
   padding-top: 70px;
   text-align: center;
}
