/plugins/action.scheduler/vendor
/plugins/access.s3/aws-v3.phar
/plugins/access.s3/aws.phar
/plugins/index.elasticsearch/vendor
/plugins/access.ajxp_home/res/build
/plugins/access.inbox/res/build
/plugins/core.mailer/js/build
/plugins/gui.ajax/res/js/ui/reactjs/build/
.idea/
data/cache/*
data/files/*
data/logs/*
data/personal/*
data/plugins/*
data/public/*
data/tmp
node_modules/
.DS_Store
.jshintignore
.jshintrc
/plugins/gui.ajax/res/mui/mui-sources
.validate.json
composer.lock
