.idea/
data/cache/*
data/files/*
data/logs/*
data/personal/*
data/plugins/*
data/public/*
data/tmp
node_modules
.DS_Store
.jshintignore
.jshintrc
.validate.json
composer.lock
/core/vendor/
/plugins/*/vendor/
/plugins/access.ajxp_user/build
/plugins/access.ajxp_home/res/build
/plugins/access.inbox/res/build
/plugins/core.mailer/js/build
/plugins/uploader.html/js/build
/plugins/core.tasks/js/build
/plugins/action.demo_counter/build
