/plugins/gui.ajax/res/js/ui/reactjs/build/
.idea/
data/cache/*
data/files/*
data/logs/*
data/personal/*
data/plugins/*
data/public/*
data/tmp
node_modules/
.DS_Store
.jshintignore
.jshintrc
/plugins/gui.ajax/res/mui/mui-sources
.validate.json