<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-lazy-init="true">

	<bean id="driver.file"
		class="org.argeo.ajaxplorer.jdrivers.SimpleAjxpDriver">
		<property name="actions">
			<map>
				<entry key="ls" value-ref="action.file.ls" />
				<entry key="download" value-ref="action.file.download" />
				<entry key="image_proxy"
					value-ref="action.file.image_proxy" />
				<entry key="trigger_remote_copy"
					value-ref="action.file.trigger_remote_copy" />
				<entry key="next_to_remote"
					value-ref="action.file.next_to_remote" />
				<entry key="upload" value-ref="action.file.upload" />
			</map>
		</property>
	</bean>

	<bean id="fileDriverContext"
		class="org.argeo.ajaxplorer.jdrivers.file.FileDriverContext">
		<property name="basePath"
			value="C:/mbaudier/test/ajxpRoot/" />
	</bean>

	<!-- ACTIONS -->
	<bean id="action.file.ls"
		class="org.argeo.ajaxplorer.jdrivers.file.FileLsAction">
		<property name="fileDriverContext" ref="fileDriverContext" />
	</bean>

	<bean id="action.file.download"
		class="org.argeo.ajaxplorer.jdrivers.file.FileDownloadAction">
		<property name="fileDriverContext" ref="fileDriverContext" />
	</bean>

	<bean id="action.file.image_proxy"
		class="org.argeo.ajaxplorer.jdrivers.file.FileImageProxyAction">
		<property name="fileDriverContext" ref="fileDriverContext" />
	</bean>

	<bean id="action.file.trigger_remote_copy"
		class="org.argeo.ajaxplorer.jdrivers.file.FileUploadAction">
		<property name="fileDriverContext" ref="fileDriverContext" />
	</bean>

	<bean id="action.file.next_to_remote"
		class="org.argeo.ajaxplorer.jdrivers.file.FileUploadAction">
		<property name="fileDriverContext" ref="fileDriverContext" />
	</bean>

	<bean id="action.file.upload"
		class="org.argeo.ajaxplorer.jdrivers.file.FileUploadAction">
		<property name="fileDriverContext" ref="fileDriverContext" />
	</bean>

	<bean id="filterMultipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	</bean>
</beans>